body {
  border-width: thin;
  margin: 30px;
  background: url(https://i.pinimg.com/originals/0e/26/51/0e2651f633f50b78d1a5491964f97fa5.jpg);
}

label {
  font-family: cursive;
}

.navbar {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: cursive;
}
.navbar li {
  display: inline-block;
}

.navbar a {
  padding: 0 20px 0 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  color: black;
  line-height: 50px;
}
.navbar a:hover {
  background-color: white;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 45px;
}

button {
  font-family: cursive;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 64px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 13px;
  padding: 70px;
  float: left;
}
